

.button {
width: 160px;
height: 56px;
display: flex;
padding: 16px 60px;
justify-content: center;
 align-items: center;
 border: 2px solid gray;
border-radius: 10px;
  gap: 10px;
  font-family: inherit;
  background: #F7F7F7;
  color: green;  
font-size: 16px;
font-style: normal;
font-weight: 500;
cursor: pointer;
margin: 12px 0;

}

.button:hover,
.button:focus {
background: #bbb5b5;
}

.input {
    width: 400px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10px;
    background: #F7F7F7;
    padding: 18px;
}
.input_date{
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    border-radius: 10px;
    background: #F7F7F7;
    padding: 18px;
    color: #475467;
}
.text {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: medium;
}
.label_text {
    text-align: start;
    margin-top: 20px;
    font-size: medium;
}

.radio {
    margin-right: 10px;
}
.radio_label {
    margin-right: 20px;
}