.list_item {
    border: 1px solid rgb(76, 128, 129);
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    background-color: rgb(211, 240, 241);
}
.button_container{
    display: flex;
    justify-content: space-between;
   
}
button {
    border: none;
    background-color: transparent;
    color: rgb(98, 170, 94);
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
        margin-top: 100px;
        cursor: pointer;
}

button:hover,
button:focus {
    color: darkgreen;
}
.title{
    width: 300px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 24px;
}